<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.home.mapper.HomeInfoMapper">

  <select id="getPagedHouses" resultType="HomeInfo">
    <bind name="offset" value="(page - 1) * pageSize"/>
  SELECT * FROM my_table
  LIMIT #{offset}, #{pageSize}
  </select>

  <select id="getHousesByDong" resultType="HomeInfo">
    SELECT  h.apt_seq     AS aptSeq,
			h.apt_nm      AS aptName,
    		h.latitude,
    h.longitude
      FROM houseinfos h
      JOIN dongcodes d
        ON h.sgg_cd = LEFT(d.dong_code,5)
       AND h.umd_cd = RIGHT(d.dong_code,5)
     WHERE d.sido_name = #{sido}
       AND d.gugun_name = #{gugun}
       AND d.dong_name   = #{dong}
     ORDER BY h.apt_nm
  </select>

  <select id="getSidoList" resultType="string">
    SELECT DISTINCT sido_name
      FROM dongcodes
     ORDER BY sido_name
  </select>

  <select id="getGugunList" resultType="string">
    SELECT DISTINCT gugun_name
      FROM dongcodes
     WHERE sido_name = #{sido}
       AND gugun_name IS NOT NULL
     ORDER BY gugun_name
  </select>

  <select id="getDongList" resultType="string">
    SELECT DISTINCT dong_name
      FROM dongcodes
     WHERE gugun_name = #{gugun}
       AND dong_name IS NOT NULL
     ORDER BY dong_name
  </select>

</mapper>
