<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.home.mapper.HomeDealMapper">
    <select id="getDealsByHouse" resultType="HomeDeal" parameterType="String">
        SELECT no, apt_seq as aptSeq, apt_dong as aptDong, floor, deal_year as dealYear, deal_month as dealMonth, deal_day as dealDay, deal_amount as dealAmount
        FROM housedeals
        WHERE apt_seq = #{aptSeq}
    </select>
</mapper>