<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.home.mapper.UserMapper">
	
	<!-- 회원가입 -->
    <insert id="createUser" parameterType="User">
        INSERT INTO users(id, name, email, password, birth_date)
        VALUES(#{id}, #{name}, #{email}, #{password}, #{birthDate})
    </insert>
    
    <!-- 회원 정보 수정 -->
    <update id="updateUser" parameterType="User">
    	UPDATE	users
    	<set>
    		name = #{name}, email = #{email}, birth_date = #{birthDate}
    		<if test="password != null and password != ''">
    			, password = #{password}
    		</if>
    	</set>
    	WHERE	id = #{id}
    </update>

	<!-- 본인 정보 조회 -->	
    <select id="selectUser" parameterType="string" resultType="User">
        SELECT	user_seq as userSeq,
        		id,
        		name,
        		email,
        		birth_date as birthDate,
        		created_at as createdAt,
        		updated_at as updatedAt
        FROM users
        WHERE id = #{id}
    </select>

	<!-- 로그인 -->
    <select id="loginUser" resultType="User">
	    SELECT	user_seq as userSeq,
	    		id,
	    		password,
	    		email,
	    		name
	    FROM	users
        WHERE id = #{id}
    </select>

</mapper>